
.category-grid .by-category + ul li a:before{
  display: none;
}
.category-grid .by-category + ul li a{
  background-position: center left ;
  background-repeat: no-repeat;
  height: 100%;
  display: block;
}

.category-grid .filter-line{
  background: #dbd7d2;
}

.category-grid .filter-line-color{
   padding: 1px;
   background: #be926f;
   width: 80%;
   margin: 30px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
 }

.category-grid .filter-line-color span{
  background: #be926f;
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  top: -4px;
}

.category-grid .filter-line-color span:first-child{
  left: 0;
}

.category-grid .filter-line-color span:last-child{
  right: 0;
}

.category-grid .filter-buttons{
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}

.category-grid .price-windows{
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
}

.category-grid .price-window{
  width: 58px;
  height: 28px;
  border: 1px solid #be926f;
  text-align: center;
}

.category-grid .filter-buttons .price-button{
  width: 90px;
  height: 28px;
  background: #be926f;
  text-align: center;
  color: #ffffff;
  font-size: inherit;
  flex-basis: inherit;
}

.category-grid .product-price{
  margin-top: 10px;
  font-size: 1em;
}

.page-blog .content-shop{
  background: #f7f7f7;
}

.content-sort {
  background: #ffffff;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
}

.content .content-sort form{
  display: flex;
  justify-content: flex-start;
}

.content .content-sort form p{
  margin: 0 10px;
  line-height: 30px;
}

.content-sort-links {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.content-sort-links a{
  display: block;
  width: 26px;
  height: 26px;
  border: 1px solid #be926f;
  text-align: center;
  text-decoration: none;
  color: #666666;
}

.content-sort-links .album-list{
  background: #be926f url("images/sor-by-1.png") no-repeat center center;
}

.content-sort-links .page-list{
  background:  url("images/sor-by-2.png") no-repeat center center;
}

.container .shop-products{
  background: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
}


.container .shop-products .featured-products-list{
  margin: 0;
  flex-basis: 100%;
  justify-content: flex-end;
}

.container .shop-products .featured-product{
  flex-basis: 33.3333%;
  margin: 0;
}

@media (max-width: 1050px){
  .container .shop-products .featured-product{
    flex-basis: 50%;
  }
}

@media (max-width: 520px){
  .container .shop-products .featured-product{
    flex-basis: 100%;
  }
}

.content-sort-links .page-list-three{
  background: #ffffff url("images/sort-link-arrow.png") no-repeat center center;
  border: 1px solid #cccccc;
}

.container .shop-products .featured-product-shop {
  flex-basis: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.product-actions-shop {
  width: 150px;
  height: 130px;
  border: 1px solid #ffe0cb;
  margin: 15px;
  position: relative;
}

.featured-product .product-name-shop {
  padding-top: 0;
  order: 1;
}

.featured-product .product-category-shop {
  padding-top: 0;
  order: 2;
}

.featured-product .product-price-shop {
  padding-bottom: 0;
  padding-right: 30px;
  order: 3;
}

.content-sort-links .album-list-shop-1{
  background: url("images/sor-by-1-color.png") no-repeat center center;
}
.content-sort-links .album-list-shop{
  background: #be926f url("images/sor-by-1.png") no-repeat center center;
}

.content-sort-links .page-list-shop{
  background: #be926f url("images/sor-by-2-color.png") no-repeat center center;
}

.content-sort-links .page-list-one, .content-sort-links .page-list-two{
  margin-right: 3px;
  border: 1px solid #cccccc;
}

.content-sort .chosen-container-single .chosen-single{
  border: 1px solid #e6e6e6;
  background: none;
  border-radius: 0;
  height: 30px;
}

.content-sort .chosen-container-single .chosen-single span{
  line-height: 2em;
}

.chosen-container-single .chosen-single div b {
  background: url(images/select-arrow.png) no-repeat 6px 11px;
}

.chosen-container-active.chosen-with-drop .chosen-single div b{
  background: url(images/select-arrow.png) no-repeat 6px 11px;
  transform: translateX(2px) rotate(180deg);
}

.content-sort select{
  width: 100%;
}

.content-sort .chosen-container .chosen-drop {
  border: 1px solid #e6e6e6;
  border-radius: 0;
}
/*
.selector {
  position: relative;
  border: 1px solid #e6e6e6;
  padding-left: 5px;
}

.selector span{
 display: block;
  line-height: 2em;
}

.selector span:after{
 content: '';
  display: block;
  background: url("images/select-arrow.png");
  width: 8px;
  height: 7px;
  position: absolute;
  right: 3px;
  top: 43%;
}

.selector select{
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}
