.category-grid .by-category + ul li:nth-child(1) a:before{
  background: url("images/product-grid-category-1.png") no-repeat center;
}

.category-grid .by-category + ul li:nth-child(2) a:before{
  background: url("images/product-grid-category-2.png") no-repeat center;
}

.category-grid .by-category + ul li:nth-child(3) a:before{
  background: url("images/product-grid-category-3.png") no-repeat center;
}

.category-grid .by-category + ul li:nth-child(4) a:before{
  background: url("images/product-grid-category-4.png") no-repeat center;
}

.category-grid .by-category + ul li:nth-child(5) a:before{
  background: url("images/product-grid-category-5.png") no-repeat center;
}

.category-grid .by-category + ul li:nth-child(6) a:before{
  background: url("images/product-grid-category-6.png") no-repeat center;
}

.category-grid .by-category + ul li:nth-child(7) a:before{
  background: url("images/product-grid-category-7.png") no-repeat center;
}

.category-grid .by-category + ul li:nth-child(8) a:before{
  background: url("images/product-grid-category-8.png") no-repeat center;
}

.category-grid .by-category + ul li:nth-child(9) a:before{
  background: url("images/product-grid-category-9.png") no-repeat center;
}

.category-grid .by-category + ul li:nth-child(10) a:before{
  background: url("images/product-grid-category-10.png") no-repeat center;
}

.category-grid .by-category + ul li:nth-child(11) a:before{
  background: url("images/product-grid-category-11.png") no-repeat center;
}

.category-grid .by-category + ul li:nth-child(12) a:before{
  background: url("images/product-grid-category-12.png") no-repeat center;
}

.category-grid .filter-line{
  background: #dbd7d2;
}

.category-grid .filter-line-color{
   padding: 2px;
   background: #be926f;
   width: 80%;
   margin: 30px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
 }

.category-grid .filter-line-color span{
  background: #be926f;
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  top: -3px;
}

.category-grid .filter-line-color span:first-child{
  left: 0;
}

.category-grid .filter-line-color span:last-child{
  right: 0;
}

.category-grid .filter-buttons{
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}

.category-grid .price-windows{
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
}

.category-grid .price-window{
  width: 58px;
  height: 28px;
  border: 1px solid #be926f;
  text-align: center;
}

.category-grid .filter-buttons .price-button{
  width: 90px;
  height: 28px;
  background: #be926f;
  text-align: center;
  color: #ffffff;
  font-size: inherit;
  flex-basis: inherit;
}

.category-grid .product-price{
  margin-top: 10px;
  font-size: 1em;
}

.content-sort {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
}

.content .content-sort form{
  display: flex;
  justify-content: flex-start;
}

.content .content-sort form p{
  margin: 0 10px;
  line-height: 30px;
}

.content-sort-links {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.content-sort-links a{
  display: block;
  width: 28px;
  height: 28px;
  border: 1px solid #be926f;
}

.content-sort-links a:first-child{
  background: #be926f url("images/sor-by-1.png") no-repeat center center;
}

.content-sort-links a:last-child{
  background: url("images/sor-by-2.png") no-repeat center center;
}

.container .shop-products{
  margin-top: 0;
  border-top: 30px solid #f7f7f7;
  border-bottom: 30px solid #f7f7f7;
  display: block;
}

.container .shop-products .featured-products-list{
  margin: 0;
  flex-basis: 100%;
}

.container .shop-products .featured-product{
  flex-basis: 33.3333%;
  margin: 0;
}
