.subscription .container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 49px 0 54px;
}

@media (max-width: 1116px){
  .subscription .container{
    justify-content: center;
  }
}

@media (max-width: 1115px){
  .subscription .newsletter{
    text-align: center;
  }
}

.subscription h3{
  margin: 0;
}

.subscription p{
  margin: 0;
  color: #666666;
  font-size: 1em;
}
.subscription form{
  margin-top: 14px;
  display: flex;
}

@media (max-width: 620px){
  .subscription form{
    flex-direction: column;
    align-items: center;
  }
}

.subscription input{
  width: 375px;
  height: 49px;
  border: 1px solid #e8e8e8;
  outline: none;
  padding-left: 15px;
  color: #cccccc;
  font-size: 1.1em;
  letter-spacing: 1px;
  transition: border 0.3s;
}

@media (max-width: 420px){
  .subscription input{
    width: 300px;

  }
}

.subscription input:hover{
  border: 1px solid #a9a9a9;
}

.subscription button{
  width: 200px;
  height: 50px;
  margin-left: 10px;
  border: 1px solid #be926f;
  outline: none;
  background: #f8f8f8 url("images/plane.png") no-repeat 20px;
  color: #333333;
  font-size: 1.2em;
  text-transform: uppercase;
  padding-left: 45px;
  transition: border 0.3s;
}

@media (max-width: 620px){
  .subscription button{
    margin-top: 10px;
  }
}

.subscription button:hover{
  border: 1px solid #86410b;
}
