.contacts .container{
  display: flex;
  justify-content: space-around;
}

.contacts .contact {
  padding: 47px 0px 42px;
  text-align: center;
}

.contact .text{
  font-size: 1.3em;
  padding: 12px 0;
}

.contact .information{
  font-size: 0.9em;
  padding: 6px 0;
}

.contact:first-child .text{
  padding: 5px 0;
}
.contact:first-child .information{
  font-size: 1.5em;
}

.contact:last-child .text{
  padding: 20px 0;
}
.contact:last-child .information{
  padding: 0 25px;
}

.contact a{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s;
}

.contact:hover .information a{
  color: #be926f ;
}
