.footer{
  border-top: 1px solid #e6e6e6;
}

.footer .container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.9em;
  color: #999999;
  padding: 25px 0;
}

@media (max-width: 880px){
  .footer .container{
    flex-direction: column;
  }
}

.footer .container a{
  text-decoration: none;
  color: #999999;
}

.footer .container a:hover{
  text-decoration: underline;
}

.footer .rights{
  margin-right: 50px;
}
.footer .twits{
  margin-left: 150px;
}

@media (max-width: 880px){
  .footer .twits{
    margin-left: 0;
  }
}

.downloads a:nth-child(2){
  padding: 0 20px;
}
.twits a:nth-child(2){
  padding: 0 40px;
}
