
.hot-links{
  border-top:1px solid #e8e8e8;
  background: #f8f8f8;
}
.hot-links .container{
  display: flex;
  justify-content: space-between;
}

.hot-links a{
  text-decoration: none;
  color: #333333;
  font-size: 1.2em;
  font-weight: 600;
  margin-right: 20px;
  transition: color 0.3s;
}



.hot-links a:before {
  content: '';
  width: 21px;
  height: 22px;
  display: block;
  border: 2px solid #be926f;
  float: left;
  padding: 8px;
  margin: -8px 10px;
  transition: border 0.3s;
}

.hot-links a:hover {
  color: #be926f;
}

 .hot-links a:hover:before{
   border: 2px solid #e3b28b;
 }

.shipping a:before{
  background: url("images/shiping.png") no-repeat center center;
}

.costumer a:before{
  background: url("images/costum.png") no-repeat center center;
}

.money a:before{
  background: url("images/money.png") no-repeat center center;
}

.help a:before{
  background: url("images/help.png") no-repeat center center;
}


.hot-links .link{
  padding: 37px 0px 31px;
}
