.testimonials {
  margin-top: 60px;
  background: #292929;
  text-align: center;
}

.testimonials .container{
  padding: 40px 0px 45px
}

.testimonials .title {
  color: #ffffff;
  font-size: 2.7em;
  margin: 0;
  text-transform: uppercase;
}

.testimonials p {
  color: #cccccc;
  font-size: 1.1em;
  padding-bottom: 10px;
  letter-spacing: 1px;
}

.testimonials .line {
  border: 1px solid #be926f;
  width: 18px;
  margin: 6px auto;
}

.testimonials .cube{
  margin: 0 auto;
  width: 55px;
  height: 55px;
  border: 2px solid #be926f;
  background: #ffffff;
  transform: rotate(45deg);
}
